# ANOVA mit Messwiederholungen

In dem letzten Teil haben wir uns ANOVAs angesehen, die sich mit einem Faktor ("Culmen Length (mm)") zwischen verschiedenen Individuuen beschäftigt. Also einem sogenannten between subjects factor. Die Variation zwischen den Gruppen also der between factor war der für uns interessante Effekt. Was ist aber, wenn wir wiederholt dieselbe Person messen, dann können wir nicht ohne weiteres dieselbe Logik anwenden, da wir die Variiation innerhalb der Gruppen, den within subjects factor, einfach als Fehler angesehen haben? Das wir das beim letzten Mal einfach so gemacht haben, verdeutlicht die Formel für den F-Wert.


$$ F = \frac{Signal}{Noise} = \frac{Explained\:variance}{Unexplained\:variance} = \frac{Between\:group\:variability}{Within\:group\:variability} $$

Unser Pinugindatensatz enthält allerdings keine Messwiederholungen. 

Daher kommt erstmal etwas Manipulation des Datensatzes, im Grunde füge ich eine id Spalte hinzu, sodass wir jeden individuellen Pinguin auseinanderhalten können. Außerdem gibt es einen Messzeitpunkt und wir simulieren ein leichtes Schnabelwachstum.

In [11]:
import pandas as pd

penguins = pd.read_csv("./penguins_classification.csv")

penguins.head()

   Culmen Length (mm)  Culmen Depth (mm) Species
0                39.1               18.7  Adelie
1                39.5               17.4  Adelie
2                40.3               18.0  Adelie
3                36.7               19.3  Adelie
4                39.3               20.6  Adelie

In [2]:
penguins.shape

(342, 3)

In [20]:
## generate t3

import numpy as np
# np.random.rand generiert einen zufälligen Vektor mit den in den Klammern angegebenen Dimensionen
penguins_rm = pd.DataFrame({
    "id": np.append(np.arange(0,penguins.shape[0]), np.arange(0, penguins.shape[0])),
    "time": ["t1"] * penguins.shape[0] + ["t2"] * penguins.shape[0], 
    "Culmen Length (mm)": np.append(penguins["Culmen Length (mm)"], penguins["Culmen Length (mm)"] + np.random.rand(penguins.shape[0], )),
    "Culmen Depth (mm)": np.append(penguins["Culmen Depth (mm)"], penguins["Culmen Depth (mm)"]),
    "Species": np.append(penguins["Species"], penguins["Species"])
})

penguins_rm.head()

   id time  Culmen Length (mm)  Culmen Depth (mm) Species
0   0   t1                39.1               18.7  Adelie
1   1   t1                39.5               17.4  Adelie
2   2   t1                40.3               18.0  Adelie
3   3   t1                36.7               19.3  Adelie
4   4   t1                39.3               20.6  Adelie

In [22]:
import pingouin as pg

pg.rm_anova(
    data=penguins_rm,
    dv="Culmen Length (mm)",
    within="time",
    subject="id"
)

  Source  ddof1  ddof2           F          p-unc       np2  eps
0   time      1    341  981.518065  2.163734e-102  0.742159  1.0